@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html{
  background-color: #ced6e0 !important;
}

body {
  background-color: #ced6e0 !important;
}

#background-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#background-image img {
  width: 100%;
}

#car-select-form {
  margin-top: 4rem;
  /* height: 10rem; */
  margin-bottom: 3rem;
  margin-left: 10rem;
  margin-right: 10rem;
  background-color: white;
  /* opacity: 0.75; */
  padding-bottom: 0.5rem;
  overflow: hidden;
  border-radius: 1.2rem;
  /* overflow-y: scroll; */
  /* border: #ffa502 0.3rem solid; */
}

.car-view-outer-div {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  /* padding-bottom: 1rem; */
  height: 25rem;
  align-items: center;
  background-color: #d9d9d9;
  border: 2px solid #2c3e50;
  border-radius: 1.5rem;
  overflow: hidden;
  margin: 2rem;
}

.car-view-outer-div img {
  width: 150%;
  margin-bottom: 1rem;
}

.car-view-outer-div span {
  margin-bottom: 0.9rem;
}

#car-select-form-container {
  overflow-y: scroll;
  height: 30rem;
}

.carTypeLUX {
  background-color: #eeba0b;
  color: black;
  display: inline !important;
}

.carTypeGEN {
  background-color: #27ae60;
  color: black;
  display: inline !important;
}

.carTypePRM {
  background-color: #2980b9;
  color: black;
  display: inline !important;
}

.carTypeComponent {
  margin-left: 0.4rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  padding: 0.3rem;
  line-height: 0.7;
  border-radius: 0.5rem;
  font-family: "Roboto";
  font-weight: 600;
}

.horizTranslate {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 0;
  display: none;
}

.verticalIntro {
  display: block !important;
}

#basic-order-details-form{
  
  background-color: #ced6e0;
  padding-top: 3rem;

}

#basic-order-details-form-main-parent {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

#customer-details-container {
  background: #ecf0f1;
  border-radius: 1.5rem;
  border: #2c3e50 1px solid;
  filter: drop-shadow(1px 1px 4px #2d3436);
}

#basic-order-field-container,
#car-select-form{
  background: #ecf0f1;
  border-radius: 1.5rem;
  border: #2c3e50 1px solid;
  filter: drop-shadow(1px 1px 4px #2d3436);
}

.car-image-container {
  margin-left: 1.5rem;
  margin-top: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

#car-information-container {
  margin-left: 1.5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#car-information-container div{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

#devider{
  width: 1px;
  height: 80%;
  opacity: 0.6;
  align-self: center;
  background: #2d3436;
  margin-left: 8rem;
}

#basic-order-field-container th,
#basic-order-field-container td{
  border: 1px solid;
  padding: 0.3rem;
}

#basic-order-field-container table{
  border: 1px solid;
  height: fit-content;
  margin-left: 10rem;
  align-self: center;

}

#order-information-parent{
  background-color: #ced6e0;
  padding-top: 2.5rem;
}

#order-information-parent>div{
  background: #ecf0f1;
  border-radius: 1.5rem;
  border: #2c3e50 1px solid;
  filter: drop-shadow(1px 1px 4px #2d3436);
}

#order-information-parent span,
#order-information-parent label{
  font-weight: 600;
}